<a href="https://colab.research.google.com/github/ACoolA-008/Data_Science_Projects/blob/main/Return_of_Portfolio_of_Securities.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import quandl
quandl.ApiConfig.api_key = 'SviVvkM_qQJSYvqwwh7X'

import pandas as pd
import datetime as dt
from pandas_datareader import data as pdr

In [ ]:
end =dt.datetime.now()
start = end - dt.timedelta(days=5000)
start, end

(datetime.datetime(2008, 12, 25, 4, 31, 44, 396205),
 datetime.datetime(2022, 9, 3, 4, 31, 44, 396205))

In [ ]:
NVDA_df = pdr.get_data_quandl('NVDA', api_key="SviVvkM_qQJSYvqwwh7X")
NVDA_df.head()

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2018-03-27,247.75,250.00,219.845,225.52,34462113.0,0.0,1.0,247.75,250.00,219.845,225.52,34462113.0
2018-03-26,238.00,244.53,235.900,244.48,15130542.0,0.0,1.0,238.00,244.53,235.900,244.48,15130542.0
2018-03-23,242.40,242.67,232.520,232.97,18225390.0,0.0,1.0,242.40,242.67,232.520,232.97,18225390.0
2018-03-22,246.00,247.88,240.341,241.85,13663927.0,0.0,1.0,246.00,247.88,240.341,241.85,13663927.0
2018-03-21,249.32,252.00,247.330,248.56,10841782.0,0.0,1.0,249.32,252.00,247.330,248.56,10841782.0

In [ ]:
APPLE_df = pdr.get_data_quandl('AAPL', api_key="SviVvkM_qQJSYvqwwh7X")
APPLE_df.head()

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2018-03-27,173.68,175.15,166.92,168.340,38962839.0,0.0,1.0,173.68,175.15,166.92,168.340,38962839.0
2018-03-26,168.07,173.10,166.44,172.770,36272617.0,0.0,1.0,168.07,173.10,166.44,172.770,36272617.0
2018-03-23,168.39,169.92,164.94,164.940,40248954.0,0.0,1.0,168.39,169.92,164.94,164.940,40248954.0
2018-03-22,170.00,172.68,168.60,168.845,41051076.0,0.0,1.0,170.00,172.68,168.60,168.845,41051076.0
2018-03-21,175.04,175.09,171.26,171.270,35247358.0,0.0,1.0,175.04,175.09,171.26,171.270,35247358.0

In [ ]:
sec_data = pd.DataFrame()
sec_data['AAPL']=APPLE_df['AdjClose']
sec_data['NVDA']=NVDA_df['AdjClose']
sec_data

               AAPL    NVDA
Date
2018-03-27  168.340  225.52
2018-03-26  172.770  244.48
2018-03-23  164.940  232.97
2018-03-22  168.845  241.85
2018-03-21  171.270  248.56
...             ...     ...
2017-09-11  161.500  169.00
2017-09-08  158.630  163.69
2017-09-07  161.260  166.58
2017-09-06  161.910  165.81
2017-09-05  162.080  165.91

[140 rows x 2 columns]

In [ ]:
import numpy as np
sec_returns = np.log(sec_data / sec_data.shift(1))
sec_returns

                AAPL      NVDA
Date
2018-03-27       NaN       NaN
2018-03-26  0.025975  0.080725
2018-03-23 -0.046379 -0.048224
2018-03-22  0.023399  0.037408
2018-03-21  0.014260  0.027367
...              ...       ...
2017-09-11  0.004219 -0.003603
2017-09-08 -0.017931 -0.031924
2017-09-07  0.016444  0.017501
2017-09-06  0.004023 -0.004633
2017-09-05  0.001049  0.000603

[140 rows x 2 columns]

**APPLE**

In [ ]:
sec_returns['AAPL'].mean()
sec_returns['AAPL'].mean() * 250
sec_returns['AAPL'].std()
sec_returns['AAPL'].std()*250**0.5

0.21835323171250912

**NVDA**

In [ ]:
sec_returns['NVDA'].mean()

-0.0022083695982057024

In [ ]:
sec_returns['NVDA'].mean() * 250

-0.5520923995514256

In [ ]:
sec_returns['NVDA'].std()

0.024116959888308365

In [ ]:
sec_returns['NVDA'].std() * 250 ** 0.5

0.38132261742987217

In [ ]:
sec_returns[['AAPL','NVDA']].mean()*250

AAPL   -0.068158
NVDA   -0.552092
dtype: float64

In [ ]:
sec_returns[['AAPL','NVDA']].std()*250**0.5

AAPL    0.218353
NVDA    0.381323
dtype: float64

**Covariance and Correlation**

In [ ]:
APPLE_Var = sec_returns['AAPL'].var()
APPLE_Var

0.00019071253519718678

In [ ]:
NVDA_Var = sec_returns['NVDA'].var()
NVDA_Var

0.0005816277542542746

In [ ]:
APPLE_Var_a = sec_returns['AAPL'].var()*250
APPLE_Var_a

0.047678133799296696

In [ ]:
NVDA_Var_a = sec_returns['NVDA'].var()*250
NVDA_Var_a

0.14540693856356865

In [ ]:
cov_matrix = sec_returns.cov()
cov_matrix

          AAPL      NVDA
AAPL  0.000191  0.000174
NVDA  0.000174  0.000582

In [ ]:
cov_matrix_a = sec_returns.cov()*250
cov_matrix_a

          AAPL      NVDA
AAPL  0.047678  0.043426
NVDA  0.043426  0.145407

In [ ]:
corr_matrix = sec_returns.corr()
corr_matrix

          AAPL      NVDA
AAPL  1.000000  0.521547
NVDA  0.521547  1.000000